docs/segmentation-gold-schema-definition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="seganno">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ref" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="author">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="surname"/>
                    <xs:element type="xs:string" name="given-names"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="issue"/>
              <xs:element type="xs:string" name="other"/>
              <xs:element type="xs:string" name="publisher"/>
              <xs:element type="xs:string" name="year"/>
              <xs:element type="xs:string" name="source"/>
              <xs:element type="xs:string" name="volume"/>
              <xs:element type="xs:string" name="editor"/>
              <xs:element type="xs:string" name="fpage"/>
              <xs:element type="xs:string" name="lpage"/>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="identifier"/>
              <xs:element type="xs:string" name="other"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
